/* HEADER */

header {
    position: sticky;
    padding: 10px;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* POSTS */
